* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #1d0000, #20205b);
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-top: 40px;
  letter-spacing: 2px;
  color: #fff;
}
h1 span {
  color: #f4351e;
}
.calendar {
  margin-top: 60px;
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.right {
  width: 42%;
  background: #f4351e;
  color: #fff;
  border-top-right-radius: 10px;
}

.left {
  width: 58%;
}

#date {
  font-size: 100px;
  line-height: 90px;
}

.clock {
  margin-top: 20px;
  position: relative;
}

.clock span {
  font-size: 26px;
  color: #fff;
  letter-spacing: 2px;
}

.details {
  margin-top: 10px;
}
.details span {
  font-size: 14px;
  margin: 0px 5px;
  color: #bcbaba;
}

.fullClock {
  border: 0.5px solid rgb(231, 123, 64);
  padding: 0px 82px 20px;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
